@model SimpleCapaApp.Models.Capa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Capa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Master User
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MasterUser.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DueDate)
        </dd>

    </dl>
</div>

    <div class="row">
        <div class="col-md-12">
            <h2>Planning Tasks</h2>
            @Html.Action("PlanTasks" , "Tasks" , new { id = Model.Id})
        </div>
    </div>

<div class="row">
    <div class="col-md-12">
        <h2>Prevention Tasks</h2>
        @Html.Action("PreventTasks", "Tasks", new { id = Model.Id })
    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <h2>Checking Tasks</h2>
        @Html.Action("CheckTasks", "Tasks", new { id = Model.Id })
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Correction Tasks</h2>
        @Html.Action("CorrectTasks", "Tasks", new { id = Model.Id })
    </div>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
