@model SimpleCapaApp.Models.Administrator

@{
    ViewBag.Title = "Details";
}

<h2>Administrator Dashboard</h2>

<div>
    <h4>Administrator</h4>
    <table>
        <tr>
            <td>
               First Name
            </td>

            <td>
                @Html.DisplayFor(model => model.FirstName)
            </td>

            <td>
                Last Name
            </td>

            <td>
                @Html.DisplayFor(model => model.LastName)
            </td>

            <td>
                Email
            </td>

            <td>
                @Html.DisplayFor(model => model.Email)
            </td>

        </tr>
    </table>
</div>

<p>
    @Html.ActionLink("Create New User", "Create", "Users", new { id = Model.Id}, null)
</p>

@Html.Action("MyUsers", "Administrators", new { id = Model.Id })

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
