@model IEnumerable<SimpleCapaApp.Models.Task>

<h1>My Tasks</h1>
<table class="table">
    <tr>

        <th>
            Name
        </th>
        <th>
          Description
        </th>
        <th>
            Status
        </th>
        <th>
            Capa
        </th>
        <th>
            Step
        </th>
        <th>
            Creation Date
        </th>
        <th>
           Due Date
        </th>
        <th>
            Actions
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Capa.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Step)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DueDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Tasks", new { id = item.Id }, null) 
            @Html.ActionLink("Details", "Details", "Tasks",  new { id=item.Id }, null) |
            @Html.ActionLink("Delete", "Delete", "Tasks", new { id=item.Id }, null)
        </td>
    </tr>
}

</table>
